<div class="footer-section">
	<div class="footer-one">
		<div class="left-section">
			<h2>Follow us</h2>
			<a href="https://www.facebook.com/SVCBankIndia/" target="_blank" /><img src="{{ module_path[0] }}/images/fb.png" class="social-icons" /></a>
			<a href="https://twitter.com/svc_bank" target="_blank" /><img src="{{ module_path[0] }}/images/twitter.png" class="social-icons" /></a>
			<a href="https://www.linkedin.com/company/svc-bank" target="_blank" /><img src="{{ module_path[0] }}/images/in.png" class="social-icons" /></a>
			<a href="https://www.instagram.com/svc_bank/" target="_blank" /><img src="{{ module_path[0] }}/images/insta.png" class="social-icons" /></a>
			<a href="https://www.youtube.com/channel/UCvjCt2ew0Xl700d-pKOHDjA" target="_blank" /><img src="{{ module_path[0] }}/images/youtube.png" class="social-icons" /></a>
		</div>
		<div class="right-section">
			<h2>SVC Care No.</h2>
			<p>1800 313 2120</p>
		</div>
	</div>
	<div class="footer-two">
		<p>Copyright @ 2019 SVC Co-Operative Bank Ltd.All Right Reserved</p>
	</div>
</div>